.header__section{
  display: flex;
  margin-top: 45px;
  margin-bottom: 48px;
}
.site-nav{
  display: flex;
}
.site-nav__link{
  text-decoration: none;
  margin-right: auto;
}
.site-nav__img{
  max-width: 236px;
  height: 26px;
}
.site-nav__list{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.site-nav__item{
  margin: 0;
  padding: 0;

  &:nth-child(2){
  margin: 0 32px;
  }
}
.site-nav__item-link{
  text-decoration: none;
  color: #83888F;
  font-family: "Barlow" , sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  vertical-align: middle;

  &:hover{
    color: #333D4B;
  }
}
@media only screen and (min-width:660px) and (max-width: 1541px) {
  .header__hamburg-button{
    display: none;
}
}


@media only screen and (min-width: 250px) and (max-width:660px){
    
  .header--active .site-nav__list {
      display: none;
  }
  
  .site-nav__item + .site-nav__item{
      margin-left: 0;
      margin: 32px 0;
  }
  
  .header__hamburg-button{
      display: block;
      background-color: transparent;
      border: none;
      color: #333D4B;
  }

}