.our-commitment{
  display: flex;
  padding: 0 85px;
  margin-bottom: 200px;
}
.our-commitment__img{
  max-width: 420px;
  height: 500px;
  margin-right: 125px;
}
.our-commitment__info{
  max-width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.our-commitment__title{
  margin: 0;
  margin-bottom: 32px;
  font-family: "Fraunces" , serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333D4B;
  text-align: start;
}
.our-commitment__text{
  margin: 0;
  font-family: "Barlow" , sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  opacity: 0.8;
}


@media only screen and(max-width:1440px){

}
@media only screen and(max-width:1024px){
  .our-commitment{
    display: flex;
    padding: 0 85px;
    margin-bottom: 200px;
    flex-grow: 1;
  }
  .our-commitment__img{
    max-width: 350px;
    height: 470px;
    margin-right: 69px;
    border-radius: 10px;
  }
  .our-commitment__info{
    min-width: 430px;
    max-height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
  }
  .our-commitment__title{
    margin: 0;
    margin-bottom: 30px;
    font-family: "Fraunces" , serif;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 48px;
    color: #333D4B;
  }
  .our-commitment__text{
    font-family: "Barlow" , sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #333D4B;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
}

@media only screen and(max-width:768px){
  .our-commitment{
    display: flex;
    padding: 0 39px;
    margin-bottom: 200px;
    flex-grow: 1;
  }
  .our-commitment__img{
    max-width: 281px;
    height: 470px;
    margin-right: 69px;
    border-radius: 10px;
  }
  .our-commitment__info{
    min-width: 339px;
    max-height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
  }
  .our-commitment__title{
    margin: 0;
    margin-bottom: 30px;
    font-family: "Fraunces" , serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
    color: #333D4B;
  }
  .our-commitment__text{
    font-family: "Barlow" , sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #333D4B;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
}

@media only screen and(max-width:425px){
  .our-commitment{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-bottom: 200px;
  }
  .our-commitment__img{
    max-width: 375px;
    max-height: 484px;
    margin-right: 0;
    margin-bottom: 48px;
    border-radius: 10px;
  }
  .our-commitment__info{
    min-width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    text-align: center;
  }
  .our-commitment__title{
    margin: 0;
    margin-bottom: 30px;
    font-family: "Fraunces" , serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
    color: #333D4B;
    text-align: center;
  }
  .our-commitment__text{
    font-family: "Barlow" , sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #333D4B;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
}
@media only screen and(max-width:375px){
  .our-commitment{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-bottom: 200px;
  }
  .our-commitment__img{
    max-width: 327px;
    max-height: 400px;
    margin-right: 0;
    margin-bottom: 48px;
    border-radius: 10px;
  }
  .our-commitment__info{
    min-width: 327px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
  }
  .our-commitment__title{
    margin: 0;
    margin-bottom: 30px;
    font-family: "Fraunces" , serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
    color: #333D4B;
  }
  .our-commitment__text{
    font-family: "Barlow" , sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #333D4B;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
}
@media only screen and(max-width:320px){
  .our-commitment{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-bottom: 200px;
  }
  .our-commitment__img{
    max-width: 275px;
    max-height: 400px;
    margin-right: 0;
    margin-bottom: 48px;
    border-radius: 10px;
  }
  .our-commitment__info{
    min-width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    justify-content: center;
  }
  .our-commitment__title{
    margin: 0;
    margin-bottom: 30px;
    font-family: "Fraunces" , serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    text-align: center;
    line-height: 48px;
    color: #333D4B;
  }
  .our-commitment__text{
    font-family: "Barlow" , sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #333D4B;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
}
